/* The global container with dynamic screen-dependent sizing */
#container {
    margin: 0 auto;
}

@media (max-width: 768px) {
    #container {
        width: 95%;
    }
}

@media (min-width: 768px) {
    #container {
        width: 90%;
    }
}

@media (min-width: 992px) {
    #container {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    #container {
        width: 50%;
    }
}

/* Text and font styling */

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0.5em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0.5em;
    padding-top: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Body styling */

html {
    background-image: linear-gradient(to bottom right, blue, red);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#ppimg {
    border-radius: 50%;
    height: 100px;
    float: right;
    margin: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.card {
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.typeform_card {
    border-radius: 10px;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#contact {
    margin: 0 auto;
    width: 30%;
}
